
<section layout layout-align="center center">

  <md-card flex>
    <form name="resetPasswordForm" novalidate="true">
      <md-card-content>
        <h2 class="md-title">
          Reset Your Password
        </h2>
        <div layout>

          <fieldset flex ng-hide="failureData">
            <p>
              Please type your new password below
            </p>
            <div layout layout-sm="column">
              <md-input-container flex>
                <label>Enter New Password</label>
                <input type="password" name="password"
                  ng-model="password"
                  ng-model-options="{ debounce: 250 }"
                  ng-minlength="8"
                  ng-maxlength="100"
                  ng-required="true">
                <span class="md-caption text-red"
                  ng-show="resetPasswordForm.password.$invalid && resetPasswordForm.password.$touched">
                  <br/>
                  Please enter a password that is at least 8 characters
                </span>
              </md-input-container>
            </div>
            <div layout layout-sm="column">
              <md-input-container flex>
                <label>Confirm New Password</label>
                <input type="password" name="confirmPassword"
                  ng-model="confirmPassword"
                  ng-model-options="{ debounce: 250 }"
                  ng-minlength="password.length"
                  ng-maxlength="100"
                  ng-required="true">
                <span class="md-caption text-red"
                  ng-show="resetPasswordForm.confirmPassword.$invalid && resetPasswordForm.confirmPassword.$touched">
                  <br/>
                  Please enter the same password to confirm it
                </span>
              </md-input-container>
            </div>
          </fieldset>

          <div flex ng-show="failureData">
            <!-- <pre>failureData: {{failureData | json}}</pre> -->
            <p ng-show="failureData.data.StatusCode == 403" class="md-body-1 text-red">
              Sorry, that link is no longer valid. Please try sending another password reset email.
            </p>
            <p ng-show="failureData.data.StatusCode == 404" class="md-body-1 text-red">
              Sorry, that link is not working. Please try sending another password reset email.
            </p>
            <p ng-show="failureData.data.StatusCode == 400" class="md-body-1 text-red">
              Sorry, something's wrong on our end.  Please wait a few minutes and try again.  Or try sending another password reset email.
            </p>
            <div layout layout-align="start center">
              <md-input-container flex>
                <label>Email Address</label>
                <input type="email" name="emailAddress"
                  ng-model="emailAddress"
                  ng-maxlength="100">
                <span class="md-caption text-red"
                  ng-show="resetPasswordForm.emailAddress.$invalid && resetPasswordForm.emailAddress.$touched">
                  <br/>
                  Please enter a valid email address
                </span>
              </md-input-container>
              <div style="margin-top:-2rem;">
                <md-button ng-disabled="resetPasswordForm.emailAddress.$untouched || resetPasswordForm.emailAddress.$invalid" ng-click="resendPasswordResetEmail(emailAddress)" class="md-primary">Resend</md-button>
              </div>

            </div>

          </div>

        </div>
      </md-card-content>

      <md-card-actions ng-hide="failureData" layout="row" layout-align="end center">
        <md-button ng-disabled="resetPasswordForm.$invalid" ng-click="resetPassword()" class="md-primary">Update Password</md-button>
      </md-card-actions>

    </form>

  </md-card>

</section>
