<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="md-title">Set Password</h2>
      <span flex></span>
      <md-button ng-click="cancelDialog()" class="md-icon-button" aria-label="Cancel dialog"><i class="fa fa-times"></i></md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="md-padding">
    <form name="form" layout>
      <md-input-container flex>
        <label>New Password</label>
        <input ng-required="true" ng-model="formData.password" ng-minlength="8">
      </md-input-container>
    </form>
    <div>
      <span ng-if="error" style="border-left:3px solid red; padding:1rem;margin-bottom:1rem;background-color:rgba(215,44,44,0.15);">
        {{error}}
      </span>      
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="cancelDialog()">
      Cancel
    </md-button>
    <md-button ng-click="setPassword(formData)" class="md-primary" ng-disabled="form.$invalid">
      Set Password
    </md-button>
  </div>
</md-dialog>
