<md-dialog aria-label="add team member" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Team Member</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="fa fa-times"></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <form name="form">
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>First name</label>
              <input ng-model="formData.firstName">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Last name</label>
              <input ng-model="formData.lastName">
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Email</label>
              <input type="email" ng-model="formData.email">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Cell phone</label>
              <input ng-model="formData.cellPhone">
            </md-input-container>
          </div>
        </form>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center">
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button ng-click="addTeamMember(formData)">
        Add
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
