<md-dialog aria-label="add team member" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Participants</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="fa fa-times"></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-button disabled ng-click="DO_SOMETHING()" class="md-primary"><i class="fa fa-upload"></i> Upload participants file</md-button>
        <md-button ng-click="generateParticipants()"><i class="fa fa-magic"></i> Generate 50 participants</md-button>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center">
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
