<md-dialog aria-label="bulk edit participants" ng-cloak>
  <form name="bulkEditParticipantsForm" novalidate="true">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Bulk Edit Participants</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="fa fa-times"></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <p>
          Set the {{'PARTICIPANT_GROUP' | translate | lowercase}} for <span class="text-red"><strong>all 99 selected {{'PARTICIPANTS' | translate | lowercase}}</strong></span>
        </p>
        <md-input-container class="md-block" flex-gt-sm>
          <label>{{'PARTICIPANT_GROUP' | translate}}</label>
          <md-select ng-model="formData.participantGroupID">
            <md-option ng-repeat="participantGroup in participantGroups.index | objectLookup:participantGroups.hashMap | orderBy: 'name' track by participantGroup.id" value="{{participantGroup.id}}">
              {{participantGroup.name}}<span ng-if="participantGroup.contactName"> ({{participantGroup.contactName}})</span>
            </md-option>
          </md-select>
        </md-input-container>
        <div class="u-sm-space"></div>
        <p>
          Set the {{'EVENT_SESSION' | translate | lowercase}} for <span class="text-red"><strong>all 99 selected {{'PARTICIPANTS' | translate | lowercase}}</strong></span>
        </p>
        <md-input-container class="md-block" flex-gt-sm>
          <label>{{'EVENT_SESSION' | translate}}</label>
          <md-select ng-model="formData.eventSessionID">
            <md-option ng-repeat="eventSession in eventSessionsIndex | objectLookup:eventSessions.hashMap track by eventSession.id" value="{{eventSession.id}}">
              {{eventSession.name}} - {{eventSession.startDate | date:'MM/dd/yyyy'}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center">
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button ng-click="apply(formData)" class="md-primary" ng-disabled="bulkEditParticipantsForm.$pristine">
        Apply
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
