<md-dialog aria-label="edit {{'USER' | translate}}" ng-cloak>
  <form name="editUserForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit {{'USER' | translate}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="fa fa-times"></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout-gt-sm="row">
          <div class="u-sm-margin-right">
            <img ng-src="{{user.profilePhotoUrl || '/images/user-img-placeholder.png'}}" style="height:150px;width:150px;border-radius:4px;" />
          </div>
          <div layout="column">
            <md-input-container class="md-block" flex-gt-sm style="margin-bottom:0;">
              <label>First name</label>
              <input ng-model="user.firstName">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm style="margin-bottom:0;">
              <label>Last name</label>
              <input ng-model="user.lastName">
            </md-input-container>
          </div>
        </div>
        <md-button ng-click="DO_SOMETHING()"><i class="fa fa-camera"></i> Upload Photo</md-button>
        <md-input-container class="md-block" flex-gt-sm style="margin-bottom:0;">
          <label>Email</label>
          <input type="email" ng-model="user.email">
        </md-input-container>
        <div layout="column" ng-if="authenticatedUser.systemRoles.length > 0">
          <pre ms-debug-only>{{user.appRoles}}</pre>
          <pre ms-debug-only>{{user.systemRoles}}</pre>
          <span class="md-body-2">
            Select Roles
          </span>
          <md-checkbox ng-repeat="appRoleItem in appRoleItems"
                       ng-model="appRoleItem.checked"
                       ng-change="updateUserRole(user.appRoles, appRoleItem)">
            <span ng-if="APP_ROLE_TRANSLATION">{{APP_ROLE_TRANSLATION[appRoleItem.value] | translate}}</span>
            <span ng-if="!APP_ROLE_TRANSLATION">{{appRoleItem.name}}</span>
            <pre ms-debug-only>{{appRoleItem | json}}</pre>
          </md-checkbox>
          <md-checkbox ng-repeat="systemRoleItem in systemRoleItems"
                       ng-model="systemRoleItem.checked"
                       ng-disabled="!systemRoleItem.enabled"
                       ng-change="updateUserRole(user.systemRoles, systemRoleItem)">
            {{systemRoleItem.name}}
            <pre ms-debug-only>{{systemRoleItem | json}}</pre>
          </md-checkbox>
          
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center">
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <!--<md-button ng-click="deleteUser(user)" class="md-warn">
       Delete
      </md-button>-->
      <md-button ng-click="apply(user)">
        Apply
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
