<md-dialog flex-gt-sm="60" aria-label="edit event" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit Event</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="fa fa-times"></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>

      <div class="md-dialog-content">
        <!--<form name="form">-->
          <div layout="column">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Event name</label>
              <input ng-model="event.name">
            </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                  <label>Sponsor</label>
                  <input ng-model="event.sponsor">
              </md-input-container>
          </div>
        <!--</form>-->
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center">
      <md-button ng-click="cancel()">Cancel</md-button>
      <md-button class="md-primary" ng-click="editEvent()" ng-disabled="!event.name" >Save</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
