<ms-search-view change-event="updateParticipants" search="searchHandler" options="searchViewOptions" user-search="userSearch">

  <div layout layout-wrap>
    <md-card
      ng-repeat="eventSession in $displayedIndex | objectLookup:$hashMap track by eventSession.id">
      <md-card-content>
        <p>
          <span class="md-headline">{{ eventSession.name }}</span><br/>
          <span class="md-body-1">  {{ eventSession.startDate | amCalendar}}</span>
        </p>
        <span class="md-caption tag active"
          ng-show="eventSession.state == 'Active'">
          <strong>{{ eventSession.state }}</strong>
        </span>
        <span class="md-caption tag"
          ng-hide="eventSession.state == 'Active'">
          <strong>{{ eventSession.state }}</strong>
        </span>
        <div ms-debug-only><pre>eventSession: {{eventSession | json}}</pre></div>
        <p class="md-body-1">
          Store Leader(s): Sam Adams, Sarah Adams
        </p>
        <p class="md-body-1">
          Check In Code: <span class="text-red">REDMOND315</span>
        </p>
        <p class="md-body-1">
          Slots: 999
        </p>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="showEditEventSessionDialog($event, eventSession)" aria-label="edit event session"><i class="fa fa-pencil ng-scope"></i></md-button>
        <md-button class="md-primary"
          ng-if="eventSession.state == 'Plan'"
          ng-click="setEventSessionState(eventSession, 'Active')">
          Run
        </md-button>
        <md-button class="md-primary"
          ui-sref="^.^.session.participants({eventSessionID:eventSession.id})"
          ng-if="eventSession.state == 'Active'">
          View
        </md-button>
        
      </md-card-actions>
    </md-card>
  </div>
</ms-search-view>
