<div layout layout-align="start center">
  <div flex>
    <h2 class="md-title">
      {{'PARTICIPANTS' | translate}}
    </h2>
  </div>
  <span ms-show="['Admin', 'EventPlanner']">
    <md-button ng-click="download()">
      <i class="fa fa-download"></i> Download {{'PARTICIPANTS' | translate}}
    </md-button>
    <md-button
      ng-click="showUploadParticipantsDialog($event, event)">
      <i class="fa fa-upload"></i> Upload {{'PARTICIPANTS' | translate}}
    </md-button>
  </span>
  <span ms-show="['Admin', 'EventPlanner', 'EventSessionManager']">
    <md-button ng-click="showAddParticipantsDialog($event, event)" class="md-primary"><i class="fa fa-plus"></i> Add {{'PARTICIPANT' | translate}}</md-button>
  </span>
</div>


<section layout>
  <div class="u-sm-margin-right" flex="15">
    <a class="text-red" ng-show="filtersAreOn()" ng-click="clearAllFilters()" style="font-size:smaller; position:relative;">Clear all filters</a>
    <a ng-hide="filtersAreOn()" style="font-size:smaller; position:relative;">&nbsp;</a>

    <p class="md-body-2 text-support">
      STATE
    </p>
    <div layout="column" class="md-caption">
      <md-checkbox aria-label="filter name"
        ng-repeat="filter in eventParticipantStateFilters"
        ng-checked="exists(filter, searchViewOptions.stackFilters)"
        ng-click="toggle(filter, searchViewOptions.stackFilters)">
        {{filter.name}} ({{filter.indexer.index.length}})
      </md-checkbox>
    </div>

    <div ng-if="eventSessionFilters.length">
      <p class="md-body-2 text-support">
        {{'EVENT_SESSIONS' | translate | uppercase}}
      </p>
      <div layout="column" class="md-caption">
        <md-checkbox ng-repeat="filter in eventSessionFilters"
                     ng-show="filter.indexer.index.length"
                     ng-checked="exists(filter, searchViewOptions.stackFilters)" ng-click="toggle(filter, searchViewOptions.stackFilters)" aria-label="filter event session">
          {{filter.name}} ({{filter.indexer.index.length}})
        </md-checkbox>
      </div>
    </div>

    <p class="md-body-2 text-support">
      {{'PARTICIPANT_GROUPS' | translate | uppercase}}
    </p>
    <div layout="column" class="md-caption">
      <md-checkbox ng-repeat="filter in participantGroupFilters | orderBy:'name'"
                   ng-show="filter.indexer.index.length"
                   ng-checked="exists(filter, searchViewOptions.stackFilters)" ng-click="toggle(filter, searchViewOptions.stackFilters)" aria-label="filter participant group">
        {{filter.name}} ({{filter.indexer.index.length}})
      </md-checkbox>
    </div>

  </div>
  <div flex>
    <div layout layout-align="start center"
      ng-hide="selectedIndex.length">
      <div flex="50">
        <md-input-container class="md-block" flex-gt-sm style="margin-top:0;margin-bottom:0;">
          <label><i class="fa fa-search"></i> Search for {{'PARTICIPANT' | translate | lowercase}} name or {{'PARTICIPANT_GROUP' | translate | lowercase}}</label>
          <input ng-model="searchViewOptions.userSearch">
        </md-input-container>
      </div>
        <md-button class="md-warn" style="margin-bottom:20px;margin-top:0;margin-left:0;margin-right:0;"
          ng-click="searchViewOptions.userSearch = null"
          ng-if="searchViewOptions.userSearch">
          <i class="fa fa-times"></i> Clear
        </md-button>
      <span flex></span>
      <div style="margin-top:-6px;">
        <md-menu md-position-mode="target-right target">
          <md-button aria-label="Open sort menu" ng-click="$mdOpenMenu()" style="margin-top:0;margin-bottom:0;">
            <i md-menu-origin class="fa fa-sort"></i> Sort
          </md-button>
          <md-menu-content width="4">
            <md-menu-item ng-repeat="sortOption in sortOptions">
              <md-button ng-click="searchViewOptions.sort = sortOption">
                {{sortOption.name}}
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </div>
    <div layout style="height:58px;" ng-if="selectedIndex.length">
      <div flex="15"></div>
      <div flex layout layout-align="end center">
        <span class="tag">{{selectedIndex.length}} Selected <i ng-click="unselectAll()" class="fa fa-times u-clickable"></i></span>
        <md-button ng-click="showBulkEditParticipantsDialog($event)"><i class="fa fa-pencil"></i> Bulk Edit</md-button>
        <md-button ng-click="checkInEventParticipants()"><i class="fa fa-check"></i> Check-In</md-button>
        <md-button ng-click="undoCheckInEventParticipants()"><i class="fa fa-undo"></i> Set Not Checked-In</md-button>
        <md-button ng-click="showDeleteConfirmationDialog($event, selectedIndex.length)" class="md-warn"><i class="fa fa-remove"></i> Delete</md-button>
      </div>
    </div>

    <ms-search-view change-event="updateEventParticipants" search="searchHandler" options="searchViewOptions" user-search="userSearch">
      <table class="md-data-table u-full-width" id="datagrid">
        <thead fsm-sticky-header scroll-body="'#datagrid'" scroll-stop="64" style="background-color:#FFF;border-bottom:2px solid rgba(0, 0, 0, 0.12);">
          <tr>
            <th class="md-data-table__cell--non-numeric"
              ms-show="['Admin', 'EventPlanner']">
              <md-checkbox style="margin:0;" ng-checked="selectedIndex.length" ng-click="toggleSelectAll()" aria-label="select all"></md-checkbox>
            </th>
            <th class="md-data-table__cell--non-numeric">
              Last Name
            </th>
            <th class="md-data-table__cell--non-numeric">
              First Name
            </th>
            <th class="md-data-table__cell--non-numeric">
              {{'PARTICIPANT_GROUP' | translate}}
            </th>
            <th class="md-data-table__cell--non-numeric">
              {{'PARTICIPANT_LEVEL' | translate}}
            </th>
            <th class="md-data-table__cell--non-numeric" hide-xs hide-sm>
              Gender
            </th>
            <th class="md-data-table__cell--non-numeric" hide-xs hide-sm
              ng-if="!eventSession">
              Location
            </th>
            <th class="md-data-table__cell--non-numeric"
              ng-if="!eventSession">
              Date
            </th>
            <th class="md-data-table__cell--non-numeric">
              &nbsp;
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-class="{'is-selected': eventParticipant.isSelected}"
            ng-repeat="eventParticipant in $displayedIndex | objectLookup:$hashMap track by eventParticipant.id"
            ng-init=" eventParticipantEventSession = demandEventSession(eventParticipant.eventSessionID);
                      watchEventParticipantEventSession(this, 'eventParticipant.eventSessionID');
                      eventParticipantParticipantGroup = demandParticipantGroup(eventParticipant.participantGroupID);">
            <td class="md-data-table__cell--non-numeric"
              ms-show="['Admin', 'EventPlanner']">
              <md-checkbox style="margin:0;"
                ng-checked="selectedIndexContains(eventParticipant)"
                ng-click="toggleSelectedIndex(eventParticipant)"
                aria-label="select {{eventParticipant.firstName}} {{eventParticipant.lastName}}">
              </md-checkbox>
            </td>
            <td class="md-data-table__cell--non-numeric">
              {{ eventParticipant.lastName }}
              <div class="md-caption text-support" style="position:absolute;bottom:0;left:12;margin-bottom:6px;"
                ng-if="eventParticipant.notes">
                {{eventParticipant.notes | limitTo:85}}<span ng-show="eventParticipant.notes.length > 85">&hellip;</span>
              </div>
            </td>
            <td class="md-data-table__cell--non-numeric">
              {{ eventParticipant.firstName }}
            </td>
            <td class="md-data-table__cell--non-numeric">
              {{ eventParticipantParticipantGroup.name }}
            </td>
            <td class="md-data-table__cell--non-numeric">
              {{ eventParticipant.level }}
            </td>
            <td class="md-data-table__cell--non-numeric" hide-xs hide-sm>
              {{ eventParticipant.gender }}
            </td>
            <td class="md-data-table__cell--non-numeric" hide-xs hide-sm
              ng-if="!eventSession">
              {{ eventParticipantEventSession.location }}
            </td>
            <td class="md-data-table__cell--non-numeric"
              ng-if="!eventSession">
              {{ eventParticipantEventSession.startDate | date:"shortDate"}}
            </td>
            <td class="md-data-table__cell--non-numeric">
              <span>
                <md-button style="margin-top:-6px;margin-bottom:0;"
                           ng-click="showEditParticipantsDialog($event, event, eventParticipant)">
                  <i class="fa fa-pencil"></i> Edit
                </md-button>
              </span>
              <span osb-event-session-live="eventParticipantEventSession">
                <!-- <span ng-hide="eventParticipant.checkInTimestamp" class="text-hint">Not checked in</span> -->
                <span ng-hide="eventParticipant.checkInTimestamp">
                  <span ms-show="['EventSessionVolunteer']" ng-if="eventSession.checkInOpen">
                    <md-button class="md-accent" style="margin-top:-6px;margin-bottom:0;margin-right:0;"
                               ng-click="showCheckInParticipantsDialog($event, eventParticipant)">
                      <i class="fa fa-check"></i> Check-In
                    </md-button>
                  </span>
                  <span ms-show="['Admin', 'EventPlanner', 'EventSessionManager']">
                    <md-button class="md-accent" style="margin-top:-6px;margin-bottom:0;margin-right:0;"
                               ng-click="showCheckInParticipantsDialog($event, eventParticipant)">
                      <i class="fa fa-check"></i> Check-In
                    </md-button>
                  </span>
                </span>
              </span>
              <span ng-if="eventParticipant.checkInTimestamp">
                <span class="text-hint">Checked in <span am-time-ago="eventParticipant.checkInTimestamp"></span>
                  <a href="" ng-click="showUndoCheckInParticipantsDialog($event, eventParticipant)">undo</a>
                </span>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </ms-search-view>
  </div>
</section>



<!-- <md-button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="showEditParticipantsDialog($event, event, eventParticipant)" aria-label="edit event participant"><i class="fa fa-pencil ng-scope"></i></md-button>
<md-button ng-if="eventParticipantEventSession.state == 'Active' && !eventParticipant.checkInTimestamp" ng-click="checkIn(eventParticipant)">
  Check In!
</md-button>
<md-button ng-if="eventParticipantEventSession.state == 'Active' && eventParticipant.checkInTimestamp && !eventParticipant.checkOutTimestamp" ng-click="checkOut(eventParticipant)">
  Check Out!
</md-button> -->
