<div layout layout-align="start center">
  <div>
    <span class="md-title">{{'EVENT_SESSIONS' | translate}}</span>
  </div>
  <div ms-show="['Admin', 'EventPlanner']">
    <md-button class="md-primary" aria-label="new"
      ng-click="showAddSessionDialog($event)">
      <i class="fa fa-plus"></i> Add {{'EVENT_SESSION' | translate}}
    </md-button>
  </div>
</div>

<ms-search-view change-event="updateEventSessions" search="searchHandler" options="searchViewOptions" user-search="userSearch">
  <div layout layout-wrap>
    <md-card style="width:385px;"
      ng-repeat="eventSession in $displayedIndex | objectLookup:$hashMap track by eventSession.id">
      <md-card-content>
        <div layout layout-align="start center">
          <span flex class="md-headline">
            {{ eventSession.name }}
          </span>
          <span>
            <span class="md-caption tag"
              ng-class="{live: state == 'Live'}">
              <strong ng-repeat="state in setEventSessionState(eventSession)">{{ state }}</strong>
            </span>
          </span>
        </div>
        <div class="u-sm-space"></div>
        <md-divider></md-divider>
        <div class="u-sm-space"></div>
        <div>
          <span class="md-subhead">When: {{ eventSession.startDate | amCalendar}}</span><br/>
          <span class="md-subhead">Where: {{eventSession.location}}</span><br/>
          <span class="md-subhead">Volunteer PIN: <strong>{{eventSession.authInfo.authCode}}</strong></span><br/>

        </div>
        <div>
          <md-switch ng-change="setEventSessionCheckInOpen(eventSession)" ng-model="eventSession.checkInOpen" aria-label="check in">
            Check-In
            <span ng-show="eventSession.checkInOpen">(open)</span>
            <span ng-show="!eventSession.checkInOpen">(closed)</span>
          </md-switch>
        </div>
        <!-- <p class="md-body-1">
          Store Leader(s): Sam Adams, Sarah Adams
        </p>
        <p class="md-body-1">
          Check In Code: <span class="text-red">REDMOND315</span>
        </p>
        <p class="md-body-1">
          Slots: 999
        </p> -->
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <span ms-show="['Admin', 'EventPlanner']">
          <md-button aria-label="edit event session"
            ng-click="showEditEventSessionDialog($event, eventSession)">
            <i class="fa fa-pencil ng-scope"></i> Edit
          </md-button>
        </span>
        <md-button class="md-primary"
          ui-sref="^.^.session.participants({eventSessionID:eventSession.id})">
          View
        </md-button>
      </md-card-actions>
      <div ms-debug-only><pre>eventSession: {{eventSession | json}}</pre></div>
    </md-card>
  </div>
</ms-search-view>
