<div layout layout-align="start center">
  <div flex>
    <h2 class="md-title">
      {{'PARTICIPANTS' | translate}}
    </h2>
  </div>
  <span ms-hide="'EventSessionVolunteer'">
    <md-button ng-click="download()"><i class="fa fa-download"></i> Download {{'PARTICIPANTS' | translate}}</md-button>
    <md-button ng-click="showUploadParticipantsDialog($event, event)"><i class="fa fa-upload"></i> Upload {{'PARTICIPANTS' | translate}}</md-button>
    <md-button ng-click="showAddParticipantsDialog($event, event)" class="md-primary"><i class="fa fa-plus"></i> Add {{'PARTICIPANT' | translate}}</md-button>
  </span>
</div>


<section layout>
  <div class="u-sm-margin-right" flex="15">
    <p class="md-body-2 text-support">
      STATE
    </p>
    <div layout="column" class="md-caption">
      <md-checkbox aria-label="filter name"
        ng-repeat="filter in eventParticipantStateFilters"
        ng-checked="exists(filter, searchViewOptions.stackFilters)"
        ng-click="toggle(filter, searchViewOptions.stackFilters)">
        {{filter.name}} ({{filter.indexer.index.length}})
      </md-checkbox>
    </div>

    <div ng-if="eventSessionFilters.length">
      <p class="md-body-2 text-support">
        {{'EVENT_SESSIONS' | translate | uppercase}}
      </p>
      <div layout="column" class="md-caption">
        <md-checkbox ng-repeat="filter in eventSessionFilters"
                     ng-show="filter.indexer.index.length"
                     ng-checked="exists(filter, searchViewOptions.stackFilters)" ng-click="toggle(filter, searchViewOptions.stackFilters)" aria-label="filter event session">
          {{filter.name}} ({{filter.indexer.index.length}})
        </md-checkbox>
      </div>
    </div>

    <p class="md-body-2 text-support">
      {{'PARTICIPANT_GROUPS' | translate | uppercase}}
    </p>
    <div layout="column" class="md-caption">
      <md-checkbox ng-repeat="filter in participantGroupFilters | orderBy:'name'"
                   ng-show="filter.indexer.index.length"
                   ng-checked="exists(filter, searchViewOptions.stackFilters)" ng-click="toggle(filter, searchViewOptions.stackFilters)" aria-label="filter participant group">
        {{filter.name}} ({{filter.indexer.index.length}})
      </md-checkbox>
    </div>

  </div>
  <div flex>
    <div layout layout-align="start center"
      ng-hide="selectedIndex.length">
      <div flex>
        <md-input-container class="md-block" flex-gt-sm style="margin-top:0;margin-bottom:0;">
          <label><i class="fa fa-search"></i> Search for {{'PARTICIPANT' | translate | lowercase}} name or {{'PARTICIPANT_GROUP' | translate | lowercase}}</label>
          <input ng-model="searchViewOptions.userSearch">
        </md-input-container>
      </div>
      <div style="margin-top:-6px;">
        <md-menu md-position-mode="target-right target">
          <md-button aria-label="Open sort menu" ng-click="$mdOpenMenu()" style="margin-top:0;margin-bottom:0;">
            <i md-menu-origin class="fa fa-sort"></i> Sort
          </md-button>
          <md-menu-content width="4">
            <md-menu-item ng-repeat="sortOption in sortOptions">
              <md-button ng-click="searchViewOptions.sort = sortOption">
                {{sortOption.name}}
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </div>
    <div layout style="height:58px;"
      ng-if="selectedIndex.length">
      <div flex="15"></div>
      <div flex layout layout-align="end center">
        <span class="tag">{{selectedIndex.length}} Selected <i ng-click="unselectAll()" class="fa fa-times u-clickable"></i></span>
        <md-button ng-click="showBulkEditParticipantsDialog($event)"><i class="fa fa-pencil"></i> Bulk Edit</md-button>
        <md-button ng-click="checkInEventParticipants()"><i class="fa fa-check"></i> Check-In</md-button>
        <md-button ng-click="undoCheckInEventParticipants()"><i class="fa fa-undo"></i> Set Not Checked-In</md-button>
        <md-button ng-click="deleteEventParticipants()" class="md-warn"><i class="fa fa-remove"></i> Delete</md-button>
      </div>
    </div>
    <ms-search-view change-event="updateEventParticipants" search="searchHandler" options="searchViewOptions" user-search="userSearch">
      <table class="u-full-width table" id="datagrid" style="padding:3px;">
        <thead fsm-sticky-header scroll-body="'#datagrid'" scroll-stop="64" class="sticky-header-style">
          <tr layout layout-align="start center" class="table-header md-body-2 text-support">
            <th flex="5" class="text-center">
              <md-checkbox style="margin:0;" ng-checked="selectedIndex.length" ng-click="toggleSelectAll()" aria-label="select all"></md-checkbox>
            </th>
            <th flex="10" class="text-left" style="max-width:120px;">Last Name</th>
            <th flex="10" class="text-left">First Name</th>
            <th flex="15" class="text-left">{{'PARTICIPANT_GROUP' | translate}}</th>
            <th flex="10" class="text-center">{{'PARTICIPANT_LEVEL' | translate}}</th>
            <th flex="10" class="text-left" hide-xs hide-sm>Gender</th>
            <th flex="10" class="text-left" hide-xs hide-sm ng-if="!eventSession">Location</th>
            <th flex="10" class="text-left" ng-if="!eventSession">Date</th>
            <th flex class="text-center">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr layout layout-align="start center" class="u-hover-container table-row" ng-class="{'is-selected': eventParticipant.isSelected, 'table-data-with-note': eventParticipant.notes}"
              ng-repeat="eventParticipant in $displayedIndex | objectLookup:$hashMap track by eventParticipant.id"
              ng-init="eventParticipantEventSession = demandEventSession(eventParticipant.eventSessionID); watchEventParticipantEventSession(this, 'eventParticipant.eventSessionID');
              eventParticipantParticipantGroup = demandParticipantGroup(eventParticipant.participantGroupID);">
            <td flex="5" class="table-data text-center">
              <md-checkbox style="margin:0;"
                ng-checked="selectedIndexContains(eventParticipant)"
                ng-click="toggleSelectedIndex(eventParticipant)"
                aria-label="select {{eventParticipant.firstName}} {{eventParticipant.lastName}}">

              </md-checkbox>
            </td>
            <td ms-debug-only class="table-table"><pre>{{ eventParticipant }}</pre></td>
            <td flex="10" class="table-data text-left" ng-class="{'table-data-with-note': eventParticipant.notes}" style="max-width:120px;"><div ng-class="{'table-cell-with-note': eventParticipant.notes}">{{ eventParticipant.lastName }}</div><div ng-if="eventParticipant.notes" class="table-cell-notes">{{eventParticipant.notes}}</div></td>
            <td flex="10" class="table-data text-left">{{ eventParticipant.firstName }}</td>
            <td flex="15" class="table-data text-left">{{ eventParticipantParticipantGroup.name }}</td>
            <td flex="10" class="table-data text-center">{{ eventParticipant.level }}</td>
            <td flex="10" class="table-data text-left" hide-xs hide-sm>{{ eventParticipant.gender }}</td>
            <td flex="10" class="table-data text-left" hide-xs hide-sm ng-if="!eventSession">{{ eventParticipantEventSession.location }}</td>
            <td flex="10" class="table-data text-left" ng-if="!eventSession">{{ eventParticipantEventSession.startDate | amCalendar}}</td>
            <td flex class="table-data text-center">
              <span class="u-display-hover" ms-hide="'EventSessionVolunteer'">
                <md-button class="md-icon-button" style="margin-top:-6px;margin-bottom:0;"
                           ng-click="showEditParticipantsDialog($event, event, eventParticipant)">
                  <md-tooltip>Edit {{'PARTICIPANT' | translate | lowercase}}</md-tooltip>
                  <i class="fa fa-pencil"></i>
                </md-button>
              </span>
              <span osb-event-session-live="eventParticipantEventSession">
                <span ng-hide="eventParticipant.checkInTimestamp" class="u-hide-hover text-hint">Not checked in</span>
                <span osb-can-check-in="eventParticipantEventSession">
                  <span ng-if="!eventParticipant.checkInTimestamp" class="u-display-hover">
                    <md-button class="md-icon-button md-accent" style="margin-top:-6px;margin-bottom:0;margin-right:0;"
                               ng-click="checkIn(eventParticipant)">
                      <md-tooltip>Check in {{'PARTICIPANT' | translate | lowercase}}</md-tooltip>
                      <i class="fa fa-check"></i>
                    </md-button>
                  </span>
                </span>
              </span>
              <span ng-if="eventParticipant.checkInTimestamp">
                <span class="u-hide-hover text-support"><strong><i class="fa fa-check"></i> Checked in <span am-time-ago="eventParticipant.checkInTimestamp"></span></strong></span>
                <span class="u-display-hover">
                  <md-button class="md-icon-button" style="margin-top:-6px;margin-bottom:0;margin-right:0;"
                             ng-click="undoCheckIn(eventParticipant)">
                    <md-tooltip>Undo check in</md-tooltip>
                    <i class="fa fa-undo"></i>
                  </md-button>
                </span>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </ms-search-view>
  </div>
</section>



<!-- <md-button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="showEditParticipantsDialog($event, event, eventParticipant)" aria-label="edit event participant"><i class="fa fa-pencil ng-scope"></i></md-button>
<md-button ng-if="eventParticipantEventSession.state == 'Active' && !eventParticipant.checkInTimestamp" ng-click="checkIn(eventParticipant)">
  Check In!
</md-button>
<md-button ng-if="eventParticipantEventSession.state == 'Active' && eventParticipant.checkInTimestamp && !eventParticipant.checkOutTimestamp" ng-click="checkOut(eventParticipant)">
  Check Out!
</md-button> -->
