<header layout layout-align="start center">
  <div flex>
    <h2 class="md-display-1">
      <span ng-show="sampleEvents[0].name">{{sampleEvents[0].name}}</span>
      <span ng-hide="sampleEvents[0].name">New event <a class="md-body-1" href="#">name this event</a></span>
    </h2>
  </div>
  <div>
    <md-button ng-controller="ReportController" ng-click="downloadReport()" class="md-primary">Generate Reminder Form</md-button>
    <md-button ui-sref="app.user.home" class="md-primary">Go home</md-button>
  </div>
</header>
<md-divider></md-divider>
<div class="u-sm-space"></div>

<section layout="column" layout-gt-sm="row">
  <div flex layout="column" layout-gt-sm="row">
    <div flex>
      <div layout layout-align="start center">
        <div>
          <h3 class="md-title">Team</h3>
        </div>
        <div>
          <md-button ng-click="showAddTeamMemberDialog($event)" class="md-primary md-icon-button"><i class="fa fa-plus"></i></md-button>
        </div>
      </div>
      <md-content>
        <md-list>
          <md-list-item class="md-2-line"
                        ng-click="DO_SOMETHING()"
                        ng-repeat="member in sampleEvents[0].teamMembers">
            <div class="md-list-item-text">
              <h3>{{member.firstName}} {{member.lastName}}</h3>
              <p>{{member.email}}</p>
            </div>
          </md-list-item>
        </md-list>
      </md-content>
    </div>
    <div flex>
      <div layout layout-align="start center">
        <div>
          <h3 class="md-title">Schools</h3>
        </div>
        <div>
          <md-button ng-click="showAddSchoolDialog($event)" class="md-primary md-icon-button"><i class="fa fa-plus"></i></md-button>
        </div>
      </div>
      <md-content>
        <ms-search-view change-event="updateParticipantGroups" search="searchParticipantGroups" options="searchViewOptions" user-search="userSearch">
          <md-list>
            <!--<md-list-item class="md-2-line"
                          ng-click="DO_SOMETHING()"
                          ng-repeat="school in sampleEvents[0].schools">
                <div class="md-list-item-text">
                    <h3>{{school.name}}</h3>
                    <p>{{school.participants}} participants of {{school.totalStudents | number}} students</p>
                </div>
            </md-list-item>-->
            <md-list-item class="md-2-line"
                          ng-click="DO_SOMETHING()"
                          ng-repeat="school in $displayedIndex | objectLookup:$hashMap track by school.id">
              <div class="md-list-item-text">
                <h3>{{school.name}}</h3>
                <p>50 participants of 2,345 students</p>
              </div>
            </md-list-item>
          </md-list>
        </ms-search-view>


      </md-content>
    </div>
  </div>
  <div flex layout="column" layout-gt-sm="row">
    <div flex>
      <div layout layout-align="start center">
        <div>
          <h3 class="md-title">Participants</h3>
        </div>
        <div>
          <md-button ng-click="showAddParticipantsDialog($event)" class="md-primary md-icon-button"><i class="fa fa-plus"></i></md-button>
        </div>
      </div>
      <md-content>
        <ms-search-view change-event="updateParticipants" search="searchParticipants" options="searchParticipantViewOptions" user-search="userSearch">
          <md-list>
            <md-list-item class="md-2-line"
                          ng-click="DO_SOMETHING()"
                          ng-repeat="participant in $displayedIndex | objectLookup:$hashMap track by participant.id">
              <div class="md-list-item-text">
                <h3>{{participant.name}}</h3>
                <p>{{participantGroups.hashMap[participant.participantGroupID].name}}</p>
                <div ms-debug-only>{{participant | json}}</div>
              </div>
            </md-list-item>
          </md-list>
        </ms-search-view>
</md-content>
    </div>
    <div flex>
      <div layout layout-align="start center">
        <div>
          <h3 class="md-title">Sessions</h3>
        </div>
        <div>
          <md-button ng-click="showAddSessionDialog($event)" class="md-primary md-icon-button"><i class="fa fa-plus"></i></md-button>
        </div>
      </div>
      <md-content>
        <md-list>
          <md-list-item class="md-3-line"
                        ng-click="DO_SOMETHING()"
                        ng-repeat="session in sampleEvents[0].sessions">
            <div class="md-list-item-text">
              <h3>{{session.name}}</h3>
              <h4>{{session.date | date}}</h4>
              <p>{{session.location}}</p>
            </div>
          </md-list-item>
        </md-list>
      </md-content>
    </div>
  </div>
</section>
