<div layout>
  <div flex>
    <md-input-container class="md-block" flex-gt-sm>
      <label><i class="fa fa-search"></i> Search for any text, &commat;name, or even &num;tag</label>
      <input ng-model="searchViewOptions.userSearch">
    </md-input-container>
  </div>
  <div hide-xs>
    <md-menu md-position-mode="target-right target">
      <md-button aria-label="Open sort menu" class="md-icon-button" ng-click="$mdOpenMenu()">
        <i md-menu-origin class="fa fa-sort"></i>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item ng-repeat="sortOption in sortOptions">
          <md-button ng-click="searchViewOptions.sort = sortOption">
            {{sortOption.name}}
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
    <md-button ng-click="download()" class="md-icon-button" aria-label="download">
      <i class="fa fa-download"></i>
    </md-button>

    <md-button ng-click="showUploadParticipantsDialog($event, event)" class="md-icon-button" aria-label="upload">
      <i class="fa fa-upload"></i>
    </md-button>


    <md-button ng-click="showAddParticipantsDialog($event, event)" class="md-fab md-primary" aria-label="new">
      <i class="fa fa-plus fa-lg"></i>
    </md-button>
  </div>
</div>

<ms-search-view change-event="updateEventParticipants" search="searchHandler" options="searchViewOptions" user-search="userSearch">
  <table class="md-data-table u-full-width">
   <thead>
     <tr>
       <th class="md-data-table__cell--non-numeric" ms-debug-only>Debug</th>
       <th>ID</th>
       <th class="md-data-table__cell--non-numeric">First Name</th>
       <th class="md-data-table__cell--non-numeric">Last Name</th>
       <th>{{'PARTICIPANT_GROUP' | translate}}</th>
       <th>Grade</th>
       <th>Gender</th>

       <th ng-if="!eventSession">{{'EVENT_SESSION' | translate}} Name</th>
       <th ng-if="!eventSession">{{'EVENT_SESSION' | translate}} Date</th>
       <th>Actions</th>

     </tr>
   </thead>
   <tbody>
     <tr ng-repeat="eventParticipant in $displayedIndex | objectLookup:$hashMap track by eventParticipant.id" 
       ng-init="eventParticipantEventSession = demandEventSession(eventParticipant.eventSessionID); 
          eventParticipantParticipantGroup = demandParticipantGroup(eventParticipant.participantGroupID);" >
       <td class="md-data-table__cell--non-numeric" ms-debug-only><pre>{{ eventParticipant | json }}</pre></td>
       <td>{{ eventParticipant.id }}</td>
       <td class="md-data-table__cell--non-numeric">{{ eventParticipant.firstName }}</td>
       <td class="md-data-table__cell--non-numeric">{{ eventParticipant.lastName }}</td>
       <td>{{ eventParticipantParticipantGroup.name }}</td>
       <td>{{ eventParticipant.grade }}</td>
       <td>{{ eventParticipant.gender }}</td>



       <td ng-if="!eventSession">{{ eventParticipantEventSession.name }}</td>
       <td ng-if="!eventSession">{{ eventParticipantEventSession.startDate | amCalendar}}</td>
       <td>
          <md-button ng-if="eventParticipantEventSession.state == 'Active' && !eventParticipant.checkInTimestamp" ng-click="checkIn(eventParticipant)">
            Check In!
          </md-button>
          <md-button ng-if="eventParticipantEventSession.state == 'Active' && eventParticipant.checkInTimestamp && !eventParticipant.checkOutTimestamp" ng-click="checkOut(eventParticipant)">
            Check Out!
          </md-button>
       </td>

     </tr>
   </tbody>
  </table>
</ms-search-view>



