<p class="md-subhead">
  Activity in {{event.name}}
</p>

<div layout layout-align="start start">
  <div flex class="u-sm-margin-right">
    <md-input-container class="md-block" flex style="margin:0;padding:0;">
      <label><i class="fa fa-search"></i> Search history</label>
      <input ng-model="searchViewOptions.userSearch">
    </md-input-container>
  </div>
  <div>
    <md-button style="margin:0;" ng-click="download()"><i class="fa fa-download"></i> Export CSV</md-button>
  </div>

</div>
<div ms-debug-only><pre>sampleActivities: {{sampleActivities | json}}</pre></div>
<div> <!-- //!! TODO add ms-search-view here -->
  <div class="md-body-1 text-support"
    ng-repeat="activity in sampleActivities | orderBy:'-timeStamp'"
    ng-switch on="activity.type">
    <div ng-show="!$first" style="height:.25rem;"></div>
    <span ng-switch-when="bulkAddParticipants">
      <a href="#" class="no-style text-support text-bold">
        {{activity.actor}}
      </a>
      <span> added </span>
      <a href="#" class="no-style text-support text-bold">{{activity.amount}} {{'PARTICIPANTS' | translate | lowercase}}</a>
      <span> to this {{activity.target}}. </span>
      <a href="#" class="md-caption u-sm-margin-left"
        ng-hide="activity.showDetails"
        ng-click="activity.showDetails = !activity.showDetails">
        show details
      </a>
      <a href="#" class="md-caption u-sm-margin-left"
        ng-show="activity.showDetails"
        ng-click="activity.showDetails = !activity.showDetails">
        hide details
      </a>
      <a href="#" class="md-caption text-red text-bold u-sm-margin-left"
        ng-show="$first"
        ng-click="undoActivity()">
        <i class="fa fa-undo"></i> undo
      </a>
      <span class="u-sm-margin-left">
         <span class="md-caption" am-time-ago="activity.timeStamp"></span>
      </span>
      <div class="activity-log-details"
        ng-show="activity.showDetails">
        Details go here Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </div>
    </span>
    <span ng-switch-when="singleAddParticipant">
      <a href="#" class="no-style text-support text-bold">{{activity.actor}}</a>
      <span> added a {{'PARTICIPANT' | translate | lowercase}} named </span>
      <a href="#" class="no-style text-support text-bold">{{activity.participant.firstName}} {{activity.participant.lastName}}</a>
      <span> from </span>
      <a href="#" class="no-style text-support text-bold">{{activity.participant.participantGroup}}</a>
      <span> to this {{activity.target}}. </span>
      <span class="u-sm-margin-left">
        <span class="md-caption" am-time-ago="activity.timeStamp"></span>
      </span>
    </span>
    <span ng-switch-when="bulkDeleteParticipants">
      <a href="#" class="no-style text-support text-bold">{{activity.actor}}</a>
      <span> deleted </span>
      <a href="#" class="no-style text-support text-bold">{{activity.amount}} {{'PARTICIPANTS' | translate | lowercase}}</a>
      <span> from this {{activity.target}}. </span>
      <a href="#" class="md-caption u-sm-margin-left"
        ng-hide="activity.showDetails"
        ng-click="activity.showDetails = !activity.showDetails">
        show details
      </a>
      <a href="#" class="md-caption u-sm-margin-left"
        ng-show="activity.showDetails"
        ng-click="activity.showDetails = !activity.showDetails">
        hide details
      </a>
      <span class="u-sm-margin-left">
       <span class="md-caption" am-time-ago="activity.timeStamp"></span>
      </span>
      <div class="activity-log-details"
        ng-show="activity.showDetails">
        Details go here Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </div>
    </span>
    <div style="height:.25rem;"></div>
  </div>
</div>
