<h2 class="md-display-1">
    Admin Main Page
</h2>
<!--<md-divider></md-divider>-->
<!--<div class="u-sm-space"></div>-->
<section>
    <div layout layout-align="start center">
        <!--<div flex>
          <h3 class="md-title">Your events</h3>
        </div>-->
    </div>

    <div ng-cloak>
        <!--<md-content>-->
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Events">
                    <md-content class="tab-content-spacer">
                        <ms-search-view change-event="updateEvents" search="searchEvents" options="searchViewOptions" user-search="userSearch">

                            <div layout="" layout-wrap="" class="layout-wrap layout-row" aria-hidden="false">

                                <md-card class="card-shortlist u-clickable" ng-repeat="event in $displayedIndex | objectLookup:$hashMap track by event.id">
                                    <md-card-title ui-sref="app.user.event.sessions({eventID:event.id})">
                                        <md-card-title-text>
                                            <span class="md-headline">{{event.name}}</span>
                                            <span class="md-subhead">Mar 16 - 23, 2016 <br />{{event.sponsor}}</span>
                                        </md-card-title-text>
                                    </md-card-title>
                                    <md-card-content class="layout-row" ui-sref="app.user.event.sessions({eventID:event.id})">
                                        <div>
                                            <p><b>28/120</b><br /><span style="font-size: smaller;">Participants</span></p>
                                            <p><b>Planning</b><br /><span style="font-size: smaller;">Status</span></p>
                                        </div>
                                    </md-card-content>
                                    <md-card-actions layout="row" layout-align="start center" class="layout-align-start-center layout-row">
                                        <a class="md-primary md-button md-ink-ripple" ui-sref="app.user.event.sessions({eventID:event.id})"><span class="ng-scope">View</span></a>
                                        <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="showEditEventDialog(event)" aria-label="edit" tabindex="0"><i class="fa fa-pencil ng-scope"></i></button>
                                        <button class="md-warn md-icon-button md-button md-ink-ripple" type="button" ng-click="deleteEvent(event)" aria-label="remove" tabindex="1"><i class="fa fa-trash ng-scope"></i></button>
                                    </md-card-actions>
                                </md-card>

                                <md-card layout="" layout-align="center center" class="card-shortlist u-clickable" aria-hidden="false" ng-click="showCreateEventDialog()">
                                    <div class="text-center">
                                        <i class="fa fa-plus fa-3x text-support"></i><br>
                                        <p class="md-subhead text-support">Add Event</p>
                                    </div>
                                </md-card>
                            </div>


                            <!--<div layout layout-wrap>
                <ms-search-view change-event="updateEvents" search="searchEvents" options="searchViewOptions" user-search="userSearch">
                    <md-card class="card-event" ng-repeat="event in $displayedIndex | objectLookup:$hashMap track by event.id">
                        <md-card-content ui-sref="app.user.event({eventID:event.id})" class="u-clickable">
                            <h4 style="margin-top:0;" class="md-title">{{event.name}}</h4>
                            <p class="md-body-1">{{event.description}}</p>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="start center">
                            <md-button ui-sref="app.user.event({eventID:event.id})" class="md-primary">View</md-button>
                            <md-button class="md-warn">Archive</md-button>
                        </md-card-actions>
                    </md-card>
                </ms-search-view>
            </div>-->

                        </ms-search-view>
                    </md-content>
                </md-tab>
                <md-tab label="Users">
                    <md-content class="tab-content-spacer" ng-controller="SystemUsersController">
                        <div layout>
                            <div flex>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label><i class="fa fa-search"></i> Search for any text, &commat;name, or even &num;tag</label>
                                    <input ng-model="searchViewOptions.userSearch">
                                </md-input-container>
                            </div>
                            <div hide-xs>
                                <md-menu md-position-mode="target-right target">
                                    <md-button aria-label="Open sort menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                                        <i md-menu-origin class="fa fa-sort"></i>
                                    </md-button>
                                    <md-menu-content width="4">
                                        <md-menu-item ng-repeat="sortOption in sortOptions">
                                            <md-button ng-click="searchViewOptions.sort = sortOption">
                                                {{sortOption.name}}
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                                <md-button ng-click="download()" class="md-icon-button" aria-label="download">
                                    <i class="fa fa-download"></i>
                                </md-button>
                                <md-button ng-click="showNewSystemUserDialog($event)" class="md-fab md-primary" aria-label="new">
                                    <i class="fa fa-plus fa-lg"></i>
                                </md-button>
                            </div>
                        </div>
                        <ms-search-view change-event="updateUsers" search="searchUsers" options="searchViewOptions" user-search="userSearch">
                            <table class="md-data-table u-full-width">
                                <thead>
                                    <tr>
                                        <th class="md-data-table__cell--non-numeric" ms-debug-only>Debug</th>
                                        <th class="md-data-table__cell--non-numeric">User</th>
                                        <th></th>
                                        <!--<th>UserID</th>
                                        <th>TenantID</th>
                                        <th>30-day Logins</th>
                                        <th>Lifetime Logins</th>-->
                                        <th>Role</th>
                                        <th>Status</th>
                                        <th class="md-data-table__cell--non-numeric">Online</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="user in $displayedIndex | objectLookup:$hashMap track by user.id" ui-sref="app.site-admin.system.user.account({userID:user.id})" style="cursor:pointer;">
                                        <td class="md-data-table__cell--non-numeric" ms-debug-only><pre>{{ user | json }}</pre></td>
                                        <td class="md-data-table__cell--non-numeric">
                                            <img ng-src="{{user.profilePhotoUrl || '/images/user-img-placeholder.png'}}" class="mini-user-img" style="margin-bottom:1rem;" />
                                        </td>
                                        <td class="md-data-table__cell--non-numeric">
                                            <strong>{{ user.displayName }}</strong><br />
                                            <span class="md-caption">{{ user.email }}</span>
                                        </td>
                                        <!--<td>{{ user.id }}</td>
                                        <td>{{ user.tenantID }}</td>
                                        <td>
                                            9 <span><i class="fa fa-arrow-up text-green"></i></span>
                                        </td>
                                        <td>
                                            99
                                        </td>-->
                                        <td>School Contact</td>
                                        <td>Active</td>
                                        <td class="md-data-table__cell--non-numeric"><i ng-show="user.connectionState=='Online'" class="fa fa-circle text-green"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </ms-search-view>

                    </md-content>
                </md-tab>
            </md-tabs>
        <!--</md-content>-->
        <!--<div>
            <md-button ng-click="generateRandomEvent()"><i class="fa fa-magic"></i> Create Demo Event</md-button>
            <md-button ng-click="showCreateEventDialog()" class="md-primary"><i class="fa fa-plus"></i> Create new event</md-button>
        </div>-->
    </div>
</section>
