<h2 class="md-title">
  {{'USERS' | translate}}
</h2>

<div layout>
    <div flex>
        <md-input-container class="md-block" flex-gt-sm>
            <label><i class="fa fa-search"></i> Search for any name</label>
            <input ng-model="searchViewOptions.userSearch">
        </md-input-container>
    </div>
  <div ng-if="searchViewOptions.userSearch" ng-click="searchViewOptions.userSearch = null" style="cursor:pointer; margin-top:22px;"><i class="fa fa-times"></i></div>
    <div hide-xs>
        <md-menu md-position-mode="target-right target">
            <md-button aria-label="Open sort menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                <i md-menu-origin class="fa fa-sort"></i>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item ng-repeat="sortOption in sortOptions">
                    <md-button ng-click="searchViewOptions.sort = sortOption">
                        {{sortOption.name}}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <md-button ng-click="download()" class="md-icon-button" aria-label="download">
            <i class="fa fa-download"></i>
        </md-button>
        <md-button ng-click="showNewSystemUserDialog($event)" class="md-fab md-primary" aria-label="new">
            <i class="fa fa-plus fa-lg"></i>
        </md-button>
    </div>
</div>
<ms-search-view change-event="updateUsers" search="searchUsers" options="searchViewOptions" user-search="userSearch">
  <div class="list">
    <div class="item" layout layout-align="start center" style="min-height:82px;"
      ng-repeat="user in $displayedIndex | objectLookup:$hashMap track by user.id">
      <div class="u-sm-margin-left u-sm-margin-right">
        <img ng-src="{{user.profilePhotoUrl || '/images/user-img-placeholder.png'}}" class="mini-user-img" />
      </div>
      <div flex>
        <span class="md-body-2">
          {{ user.displayName }} <i ng-show="user.connectionState=='Online'" class="fa fa-circle text-green"></i>
        </span>
        <br/>
        <span class="md-body-1">
          {{ user.email }}
        </span>
        <br/>
        <span class="md-caption">
          <span class="tag u-sm-margin-right"
            ng-repeat="appRole in user.appRoles">
            {{APP_ROLE_TRANSLATION[appRole] | translate}}
          </span>
        </span>
      </div>
      <div layout>
        <md-button
          ng-click="showEditUserDialog($event, user)">
          <i class="fa fa-pencil"></i> Edit
        </md-button>
        <md-button class="md-warn"
          ng-click="showDeleteConfirmationDialog($event, user)">
          <i class="fa fa-remove"></i> Delete
        </md-button>
      </div>
    </div>
  </div>
</ms-search-view>
