<md-dialog aria-label="add team member" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Bulk Upload Participants</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="fa fa-times"></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">

        <textarea ng-paste="paste($event)" placeholder='paste here' />

        <div ng-repeat="eventParticipantRow in uploadData.eventParticipantsData">
          {{eventParticipantRow}}
        </div>
        <div ms-debug-only><pre>{{uploadData | json}}</pre></div>



        <md-input-container class="md-block" flex-gt-sm>
          <label>Name</label>
          <input ng-model="formData.name">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Grade</label>
          <input type="number" ng-model="formData.grade">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>School</label>
          <md-select ng-model="formData.participantGroupID">
            <md-option ng-repeat="school in participantGroups.index | objectLookup:participantGroups.hashMap track by school.id" value="{{school.id}}">
              {{school.name}}
            </md-option>
          </md-select>
        </md-input-container>
        <br/>
        <md-button ng-click="parseEventParticipants()" class="md-primary"><i class="fa fa-upload"></i> Bulk parse</md-button>
        <md-button ng-click="uploadEventParticipants()" class="md-primary"><i class="fa fa-upload"></i> Bulk upload</md-button>
        <md-button ng-disabled="!formData.participantGroupID" ng-click="generateRandomParticipants(formData.participantGroupID, 25)"><i class="fa fa-magic"></i> Generate 25 participants</md-button>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center">
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button ng-disabled="!(formData.participantGroupID && formData.name && formData.grade)" ng-click="createParticipant(formData)"><i class="fa fa-magic"></i> OK</md-button>
    </md-dialog-actions>
    <div ms-debug-only>
      <h1>Debug</h1>
      <pre>{{formData | json}}</pre>
    </div>
  </form>
</md-dialog>
