<md-dialog aria-label="add team member" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Bulk Upload Participant Groups</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="fa fa-times"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div ng-hide="uploadData.itemsData.length > 0">
                    <md-input-container>
                        <label>Paste text here</label>
                        <textarea rows="10" cols="70" ng-paste="paste($event)" />
                    </md-input-container>

                    <div>
                        <b>Tip:</b> Copy a table in Excel and paste it directly in this dialog.  The following header columns must be included:<br /><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;School *&nbsp;&nbsp;&nbsp;&nbsp;Counselor&nbsp;&nbsp;&nbsp;&nbsp;Phone&nbsp;&nbsp;&nbsp;&nbsp;email<br />
                    </div>
                </div>

                <div ng-show="uploadData.itemsData.length > 0">
                    <h4>{{uploadData.itemsData.length}} participants found</h4>
                    <h5 ng-if="dataErrors.numberOfErrors > 0" class="uploaddataerror">Unfortunately, {{dataErrors.numberOfErrors}} participants contain errors. Please fix your source data and try again.</h5>
                    <h5 ng-if="dataErrors.numberOfErrors == 0">Click 'Bulk Upload' to complete data upload.</h5>
                    <table class="md-data-table u-full-width">
                        <thead>
                            <tr>
                                <th class="md-data-table__cell--non-numeric" ms-debug-only>Debug</th>
                                <th class="md-data-table__cell--non-numeric"></th>
                                <th class="md-data-table__cell--non-numeric">School</th>
                                <th class="md-data-table__cell--non-numeric">Counselor</th>
                                <th>Phone</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in uploadData.itemsData" ng-class="{ 'uploaddataerror': row.errors }">
                                <td class="md-data-table__cell--non-numeric" ms-debug-only><pre>{{ row | json }}</pre></td>
                                <td class="md-data-table__cell--non-numeric">{{$index+1}}</td>
                                <td class="md-data-table__cell--non-numeric">{{row.name}}</td>
                                <td class="md-data-table__cell--non-numeric">{{row.contactName}}</td>
                                <td class="md-data-table__cell--non-numeric">{{row.contactPhone}}</td>
                                <td class="md-data-table__cell--non-numeric">{{row.contactEmail}}</td>
                                <td><span ng-if="row.errors">{{row.errors}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ms-debug-only><pre>{{uploadData | json}}</pre></div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button ng-click="cancel()">Cancel</md-button>
            <md-button ng-disabled="dataErrors.numberOfErrors > 0 || !uploadData.itemsData" ng-click="uploadParticipantGroups()" class="md-primary"><i class="fa fa-upload"></i> Bulk upload</md-button>
        </md-dialog-actions>
        <div ms-debug-only>
            <h1>Debug</h1>
            <pre>{{formData | json}}</pre>
        </div>
    </form>
</md-dialog>
