<h2 class="md-title">
  Ops Backup
</h2>
<md-divider></md-divider>
<section>
  <div layout>
    <md-card flex>
      <md-card-content>
        <p class="md-body-2">Production Server Only - Backup Anonymized Production Database to S3</p>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <!-- TODO make these buttons show up?  -->
        <asp:Button ID="BackupAnonymizedProductionDatabaseButton" runat="server" Enabled="false" Text="Anonymize" OnCommand="BackupAnonymizedProductionDatabase" />
      </div>
    </md-card>
    <md-card flex>
      <md-card-content>
        <p class="md-body-2">Production Server Only - Restore Production Database from S3</p>
        <p class="md-body-1">
          Source: <asp:DropDownList ID="ProductionRestoreSource" runat="server" />
        </p>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <!-- TODO make these buttons show up?  -->
        <asp:Button ID="RestoreProductionDatabaseButton" runat="server" Text="Restore" OnCommand="RestoreProductionDatabase" />
      </div>
    </md-card>
  </div>
  <div layout>
    <md-card flex>
      <md-card-content>
        <p class="md-body-2">Backup Accounts Database to S3</p>
        <md-input-container>
          <label>Select Database</label>
          <md-select ng-model="sqlAccountsDatabaseName">
            <md-option ng-repeat="databaseName in sqlAccountsDatabaseNames" value="{{databaseName}}">
              {{databaseName}}
            </md-option>
          </md-select>
        </md-input-container>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button type="button" class="md-primary" ng-click="backupAccountsDatabase(sqlAccountsDatabaseName)">
          <i class="fa fa-cloud-upload"></i> Backup
        </md-button>
      </div>
    </md-card>
    <md-card flex>
      <md-card-content>
        <p class="md-body-2">Backup Reference Database to S3</p>
        <md-input-container>
          <label>Select Database</label>
          <md-select ng-model="sqlReferenceDatabaseName">
            <md-option ng-repeat="databaseName in sqlReferenceDatabaseNames" value="{{databaseName}}">
              {{databaseName}}
            </md-option>
          </md-select>
        </md-input-container>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button type="button" class="md-primary" ng-click="backupReferenceDatabase(sqlReferenceDatabaseName)">
          <i class="fa fa-cloud-upload"></i> Backup
        </md-button>
      </div>
    </md-card>
  </div>
  <div layout>
    <md-card flex>
      <md-card-content>
        <p class="md-body-2">Restore Accounts Database from S3</p>
        <md-input-container>
          <label>Select Database</label>
          <md-select ng-model="s3RestoreAccountsDatabaseName">
            <md-option ng-repeat="databaseName in s3AccountsDatabaseNames" value="{{databaseName}}">
              {{databaseName}}
            </md-option>
          </md-select>
        </md-input-container>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button type="button" class="md-primary" ng-click="restoreAccountsDatabase(s3RestoreAccountsDatabaseName)">
          <i class="fa fa-refresh"></i> Restore
        </md-button>
      </div>
    </md-card>
    <md-card flex>
      <md-card-content>
        <p class="md-body-2">Restore Reference Database from S3</p>
        <md-input-container>
          <label>Select Database</label>
          <md-select ng-model="s3RestoreReferenceDatabaseName">
            <md-option ng-repeat="databaseName in s3ReferenceDatabaseNames" value="{{databaseName}}">
              {{databaseName}}
            </md-option>
          </md-select>
        </md-input-container>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button type="button" class="md-primary" ng-click="restoreReferenceDatabase(s3RestoreReferenceDatabaseName)">
          <i class="fa fa-refresh"></i> Restore
        </md-button>
      </div>
    </md-card>
  </div>
  <div class="error" id="ResultMessage" runat="server" visible="false" />
</section>
