<md-dialog aria-label="forgot password" ng-cloak>
  <form name="passwordResetForm" novalidate="true">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Forgot Password</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="fa fa-times"></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Email</label>
            <input type="email" ng-model="email" required="">
          </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center">
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button ng-click="sendPasswordResetEmail(email)" ng-disabled="passwordResetForm.$invalid">
        Send Password Reset
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
