<div layout layout-align="center center">
  <div flex>
    <div class="text-center">
      <img src="/images/torq_logo_color.png" height="100">
    </div>
    <md-card>
      <form name="signUpForm">
      <md-card-content>
        <div ng-hide="working">
          <div layout>
            <h2 class="md-subhead">Create a free account</h2>
            <span flex></span>
            <md-button ng-click="demoAutoFill()" class="md-icon-button"> <i class="fa fa-magic"></i></md-button>
          </div>
          <div layout layout-xs="column" layout-sm="column">
            <md-input-container flex>
              <label>First name</label>
              <input ng-model="formData.firstName">
            </md-input-container>
            <md-input-container flex>
              <label>Last Name</label>
              <input ng-model="formData.lastName">
            </md-input-container>
          </div>
          <div layout layout-xs="column" layout-sm="column">
            <md-input-container flex>
              <label>Email Address</label>
              <input type="email" ng-model="formData.emailAddress">
            </md-input-container>
            <md-input-container flex>
              <label>Cell Phone Number</label>
              <input ng-model="formData.cellPhone">
            </md-input-container>
          </div>
          <div layout layout-sm="column">
            <md-input-container flex>
              <label>Password</label>
              <input type="{{passwordInputType}}" ng-model="formData.password">
            </md-input-container>
          </div>
        </div>
        <div ng-show="working">
          <div class="u-sm-space"></div>
          <div class="text-center">
            <h2 class="md-subhead">Creating account...</h2>
            <div layout="row" layout-align="space-around">
              <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
            <p class="md-body-1">
              Creating your account, one moment please...
            </p>
          </div>
          <div class="u-sm-space"></div>
        </div>

      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button ng-hide="working" ng-click="createAccount()" class="md-primary">Create Account</md-button>
        <md-button ng-show="working" class="md-primary" ng-disabled="true"> Working... </md-button>
      </md-card-actions>
      </form>
    </md-card>
  </div>
</div>
