<h2 class="md-title">
  Reset Your Password
</h2>
<md-divider></md-divider>
<section layout layout-align="center center">

  <md-card>
    <form name="resetPasswordForm" novalidate="">
      <md-card-content>
        <fieldset ng-hide="error">
          <p>
            Please type your new password below
          </p>
          <div layout layout-sm="column">
            <md-input-container flex>
              <label>Enter New Password</label>
              <input type="password" name="password"
                ng-model="password"
                ng-model-options="{ debounce: 250 }"
                ng-minlength="8"
                ng-maxlength="100"
                ng-required="true">
              <span class="md-caption text-red"
                ng-show="resetPasswordForm.password.$invalid && resetPasswordForm.password.$touched">
                <br/>
                Please enter a password that is at least 8 characters
              </span>
            </md-input-container>
          </div>
          <div layout layout-sm="column">
            <md-input-container flex>
              <label>Confirm New Password</label>
              <input type="password" name="password"
                ng-model="confirmPassword"
                ng-model-options="{ debounce: 250 }"
                ng-minlength="password.length"
                ng-maxlength="100"
                ng-required="true">
              <span class="md-caption text-red"
                ng-show="resetPasswordForm.confirmPassword.$invalid && resetPasswordForm.confirmPassword.$touched">
                <br/>
                Please enter the same password to confirm it
              </span>
            </md-input-container>
          </div>
        </fieldset>
        <div ng-show="error">
          <p class="md-body-1 text-red">
            Sorry, that link is no longer valid. Please try sending another password reset email or <a href="#">contact TORQ</a>.
          </p>
          <p class="md-body-1 text-red">
            Sorry, that link is not working. If you can't reset your password, please <a href="#">contact TORQ</a>.
          </p>
          <p class="md-body-1 text-red">
            Sorry, something's wrong on our end.  Please wait a few minutes and try again.  If you need to, you can always <a href="#">contact TORQ</a>.
          </p>
        </div>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button ng-disabled="resetPasswordForm.$invalid" ng-click="resetPassword()" class="md-primary">Update Password</md-button>
      </md-card-actions>
    </form>
  </md-card>

</section>
