<div class="u-md-space"></div>
<div layout layout-align="center center">
  <div flex-gt-xs="50">
      <form name="signInForm">
        <div>
          <h2 class="md-title">Sign in to your account</h2>
        </div>
        <div layout="column">
          <md-input-container flex>
            <label>Email</label>
            <input ng-model="formData.email" type="email">
          </md-input-container>
          <md-input-container flex>
            <label>Password</label>
            <input ng-model="formData.password" type="password">
          </md-input-container>
          <span class="md-caption"><a ng-click="showForgotPasswordDialog($event)">Forgot password?</a></span>
        </div>
        <div layout layout-align="end center">
          <md-button type="submit" ng-click="signIn(formData)" class="md-raised md-primary">Sign In</md-button>
        </div>


        <div class="u-sm-space"></div>
        <div class="u-sm-space"></div>
        <div>
          <span class="md-caption"><a ng-click="showDemoAccountDialog()">Demo Users</a></span>
        </div>
      </div>


      </form>

  </div>
</div>
