<h2 class="md-title">
  Ops Diagnostics
</h2>
<md-divider></md-divider>
<div class="md-padding">
  <p class="md-body-1"><i class="fa fa-warning"></i> Only for authorized TORQ Operations Admins</p>

  <md-button ng-click="raiseDiagnosticEvent('StaticAssert', { title: 'Static Assert A' })" class="md-primary">Static Assert A</md-button>
  <md-button ng-click="raiseDiagnosticEvent('StaticAssert', { title: 'Static Assert B' })" class="md-primary">Static Assert B</md-button>
  <md-button ng-click="raiseDiagnosticEvent('DynamicAssert')" class="md-primary">Dynamic Assert</md-button>

  <md-button ng-click="generateCriticalEventLogItem('test')" class="md-primary">Generate Critical EventLog Item</md-button>
  <md-button ng-disabled="true" ng-click="DO_SOMETHING()" class="md-primary">Send Test Email Alert</md-button>
  <md-button ng-disabled="true" ng-click="DO_SOMETHING()" class="md-primary">Simulate an Exception</md-button>
</div>
