<md-content layout>
    <div flex="45">
      <div layout layout-padding>
        <div flex>
          <md-input-container style="margin-top:-1rem;">
            <label><i class="fa fa-search"></i> Search</label>
            <input ng-model="userSearch">
          </md-input-container>
        </div>
        <div style="margin-top:1rem;">
          <md-menu>
            <md-button aria-label="Open sort menu" class="md-icon-button" ng-click="$mdOpenMenu()">
              <i md-menu-origin class="fa fa-filter"></i>
            </md-button>
            <md-menu-content width="4">
              <md-menu-item ng-repeat="option in filterOptions">
                <md-button ng-click="searchViewOptions.filter = option">
                  <span ng-show="option.name == 'Green'"><i class="fa fa-circle text-green"></i> &nbsp;</span>
                  <span ng-show="option.name == 'Yellow'"><i class="fa fa-circle text-yellow"></i> &nbsp;</span>
                  <span ng-show="option.name == 'Red'"><i class="fa fa-circle text-red"></i> &nbsp;</span>
                  {{option.name}}
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-menu>
            <md-button aria-label="Open sort menu" class="md-icon-button" ng-click="$mdOpenMenu()">
              <i md-menu-origin class="fa fa-sort"></i>
            </md-button>
            <md-menu-content width="4">
              <md-menu-item ng-repeat="option in sortOptions">
                <md-button ng-click="searchViewOptions.sort = option">
                  {{option.name}}
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-button aria-label="batch update" class="md-icon-button" ng-click="showLibraryBatchUpdateDialog()">
            <md-tooltip>Batch update</md-tooltip>
            <i class="fa fa-file"></i>
          </md-button>
        </div>
      </div>

      <section id="masterlist" style="max-height:2400px;overflow:scroll;">
        <ms-search-view change-event="updateOccupations" search="searchOccupations" options="searchViewOptions" user-search="userSearch" container="'#masterlist'">
          <div layout layout-margin  style="margin-bottom:1rem;cursor:pointer;"
                ng-repeat="occupation in $displayedIndex | objectLookup:$hashMap track by occupation.id"
                ui-sref=".occupation({occupationID:occupation.id})">
            <div flex="25" layout layout-align="center center">
              <img  alt="{{occupation.displayTitle}}"  style="width:100%;height:100%;"
                    ng-src="{{occupation.heroImageUrl || 'no image available'}}"/>
            </div>
            <div flex layout layout-align="start center">
              <p>
                <span class="md-body-2">{{occupation.displayTitle}}</span><br/>
                <span class="md-caption">
                  SOC: {{occupation.occupationCode.Code}}<br/>
                  Employment: {{occupation.totalEmployment | number}}<br/>
                  <span ng-show="occupation.isHeroImageInherited" aria-label="inherited image"><i class="fa fa-exclamation-triangle text-red"></i> Inherited &middot; </span>
                </span>
              </p>
              <div ms-debug-only><pre>{{ occupation | json }}</pre></div>
            </div>
            <div flex="5" layout layout-align="center center">
              <span ng-show="occupation.releaseState === 'Green'" class="md-secondary"><i class="fa fa-circle text-green"></i></span>
              <span ng-show="occupation.releaseState === 'Yellow'" class="md-secondary"><i class="fa fa-circle text-yellow"></i></span>
              <span ng-show="occupation.releaseState === 'Red'" class="md-secondary"><i class="fa fa-circle text-red"></i></span>
              <span ng-hide="occupation.releaseState" class="md-secondary"><i class="fa fa-circle" style="color:rgba(0,0,0,.15);"></i></span>
            </div>
          </div>
        </ms-search-view>
      </section>
    </div>
    <span flex="5"></span>
    <div flex="50" ui-view></div>
  </md-content>
