<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="md-title">Batch Update</h2>
      <span flex></span>
      <md-button ng-click="cancelDialog()" class="md-icon-button" aria-label="Cancel dialog"><i class="fa fa-times"></i></md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div layout>
      <div>
        <p class="md-body-2">Step 1</p>
        <p class="md-body-1">Download the latest template file.</p>
        <md-button ng-click="downloadTemplate()" class="md-primary"><i class="fa fa-download"></i> Download Template</md-button>
      </div>
      <div flex="5"></div>
      <div>
        <p class="md-body-2">Step 2</p>
        <p class="md-body-1">Upload the edited template file.</p>
        <md-button ng-click="upload()" class="md-primary"><i class="fa fa-upload"></i> Upload Edited File</md-button>
      </div>
    </div>
    <div>
      <p class="md-body-2">Step 3</p>
      <p class="md-body-1">Review changes. The uploaded file contains XX edited rows and YY edited columns.</p>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="cancelDialog()">
      Cancel
    </md-button>
    <md-button ng-click="discardEdits()" class="md-warn">
      Discard Edits
    </md-button>
    <md-button ng-click="applyEdits()" class="md-primary">
      Apply Edits
    </md-button>
  </div>
</md-dialog>
