<div layout>
  <div flex>
    <md-input-container class="md-block" flex-gt-sm>
      <label><i class="fa fa-search"></i> Search for any text, &commat;name, or even &num;tag</label>
      <input ng-model="searchViewOptions.userSearch">
    </md-input-container>
  </div>
  <div hide-xs>
    <md-menu md-position-mode="target-right target">
      <md-button aria-label="Open sort menu" class="md-icon-button" ng-click="$mdOpenMenu()">
        <i md-menu-origin class="fa fa-sort"></i>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item ng-repeat="sortOption in sortOptions">
          <md-button ng-click="searchViewOptions.sort = sortOption">
            {{sortOption.name}}
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
    <md-button ng-click="download()" class="md-icon-button" aria-label="download">
      <i class="fa fa-download"></i>
    </md-button>
    <md-button ng-click="showNewTenantDialog($event)" class="md-fab md-primary" aria-label="new">
      <i class="fa fa-plus fa-lg"></i>
    </md-button>
  </div>
</div>

<ms-search-view change-event="updateTenantGroups" search="searchTenants" options="searchViewOptions">
  <table class="md-data-table u-full-width">
   <thead>
     <tr>
       <th class="md-data-table__cell--non-numeric" ms-debug-only>Debug</th>
       <th>ID</th>
       <th class="md-data-table__cell--non-numeric">Name</th>
       <th>Groups</th>
       <th>Active Users</th>
     </tr>
   </thead>
   <tbody>
     <tr ui-sref="app.system.tenant.dashboard({ tenantID:tenant.id })" ng-repeat="tenant in $displayedIndex | objectLookup:$hashMap track by tenant.id">
       <td class="md-data-table__cell--non-numeric" ms-debug-only><pre>{{ tenant | json }}</pre></td>
       <td>{{ tenant.id }}</td>
       <td class="md-data-table__cell--non-numeric">{{ tenant.name }}</td>
       <td>{{ tenant.childGroupIDs.length }}</td>
       <td>{{ tenant.activeUsersCount }}</td>
     </tr>
   </tbody>
  </table>
</ms-search-view>


<!--
<h2 class="md-title">
  Tenants
</h2>
<md-divider></md-divider>
<section>
  <div layout layout-padding>
    <div flex>
      <md-input-container style="margin-top:-1rem;">
        <label><i class="fa fa-search"></i> Search for any text, &commat;name, or even &num;tag</label>
        <input ng-model="userSearch">
      </md-input-container>
    </div>
    <div style="margin-top:1rem;">
      <md-button ng-click="download()" class="md-icon-button" aria-label="download">
        <md-tooltip>Download</md-tooltip>
        <i class="fa fa-download"></i>
      </md-button>
      <md-button ng-click="showNewTenantDialog($event)" class="md-raised md-primary md-icon-button" aria-label="new tenant">
        <md-tooltip>Add Tenant</md-tooltip>
        <i class="fa fa-plus"></i>
      </md-button>
    </div>
  </div>
  <ms-search-view change-event="updateTenants" search="searchTenants" options="searchViewOptions" user-search="userSearch">
    <table class="md-data-table u-full-width">
     <thead>
       <tr>
         <th class="md-data-table__cell--non-numeric" ms-debug-only>Debug</th>
         <th>ID</th>
         <th class="md-data-table__cell--non-numeric">Name</th>
         <th>Groups</th>
         <th>Active Users</th>
       </tr>
     </thead>
     <tbody>
       <tr ui-sref="app.system.tenant.dashboard({ tenantID:tenant.id })" ng-repeat="tenant in $displayedIndex | objectLookup:$hashMap track by tenant.id">
         <td class="md-data-table__cell--non-numeric" ms-debug-only><pre>{{ tenant | json }}</pre></td>
         <td>{{ tenant.id }}</td>
         <td class="md-data-table__cell--non-numeric">{{ tenant.name }}</td>
         <td>{{ tenant.childGroupIDs.length }}</td>
         <td>{{ tenant.activeUsersCount }}</td>
       </tr>
     </tbody>
    </table>
  </ms-search-view>
</section> -->
