<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="md-title">New System Filter</h2>
      <span flex></span>
      <md-button ng-click="cancelDialog()" class="md-icon-button" aria-label="Cancel dialog"><i class="fa fa-times"></i></md-button>
    </div>
  </md-toolbar>
  <md-dialog-content layout="row">
    <form name="form" flex="50">
      <p class="md-body-2">
        Filters
      </p>
      <md-divider></md-divider>
      <div class="u-sm-space"></div>
      <p class="md-body-2">
        Search
      </p>
      <div>
        <md-input-container style="margin-top:-1rem;">
          <label><i class="fa fa-search"></i> Enter a job title, keyword, or description</label>
          <input ng-model="userSearch">
        </md-input-container>
      </div>
      <p class="md-body-2">
        Job Family
      </p>
      <div style="height:200px;overflow-y:scroll;">
        <md-checkbox ng-repeat="jobFamily in jobFamilies" ng-model="formData.jobFamily" aria-label="jobFamily">
          {{jobFamily}}
        </md-checkbox>
      </div>
      <div class="u-sm-space"></div>
      <p class="md-body-2">
        Industry
      </p>
      <div style="height:200px;overflow-y:scroll;">
        <md-checkbox ng-repeat="industry in industries" ng-model="formData.industry.value" aria-label="industry.title">
          {{industry.title}}
        </md-checkbox>
      </div>
    </form>
    <div flex="5"></div>
    <div flex>
      <p class="md-body-2">
        Occupations
      </p>
      <md-divider></md-divider>
      <div class="u-sm-space"></div>
      <md-checkbox ng-model="occupation">
        Occupation Result
      </md-checkbox>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="cancelDialog()">
      Cancel
    </md-button>
    <md-button ng-click="createFilter(formData)" class="md-primary" ng-disabled="form.$invalid">
      Create Filter
    </md-button>
  </div>
</md-dialog>
