<div class="text-center">
  <p class="md-title text-support">
      {{'EVENT_SESSION' | translate}} - {{eventSession.name}}
  </p>
  <p class="md-body-1">
    {{'EVENT_SESSION' | translate}} URL: <a href="{{authInfo.url}}">{{authInfo.url}}</a>
  </p>
</div>

<div ms-debug-only><pre>{{eventSession | json}}</pre></div>

<div ng-include="'/client/states/app/user/event-participants.html'"></div>

<!--
<div layout layout-align="center center">
  <div flex class="text-center">
    <h3 class="md-display-1">{{eventSession.expectedParticipants.index.length}}</h3>
    <p class="md-body-1">
      Not Checked In
    </p>
  </div>
  <div flex class="text-center">
    <h3 class="md-display-1">{{eventSession.checkedInParticipants.index.length}}</h3>
    <p class="md-body-1">
      Checked In
    </p>
  </div>
  <div flex class="text-center">
    <h3 class="md-display-1">{{timeRemaining}}</h3>
    <p class="md-body-1">
      Time Remaining
    </p>
  </div>
</div>

<div class="u-md-space"></div>

<div style="background-color:#FFF;">
  <md-list>
    <md-list-item class="md-2-line secondary-button-padding"
      ng-repeat="eventParticipant in eventSession.expectedParticipants.index | objectLookup:eventParticipants.hashMap track by eventParticipant.id"
      ng-click="doSomething()">

      <div ms-debug-only><div ng-if="$first"><pre>{{eventParticipant | json}}</pre></div></div>


      <div class="md-list-item-text">
        <h3>{{eventParticipant.firstName}} {{eventParticipant.lastName}}</h3>
        <p>{{eventParticipant.grade}} grade at {{eventParticipant.participantGroupName}}</p>
      </div>

      <md-button class="md-secondary md-primary"
        ng-click="checkIn(eventParticipant)"
        ng-show="eventParticipant.status=='expected'">
        Check In
      </md-button>
      <md-button class="md-secondary"
        ng-click="undoCheckIn(eventParticipant)"
        ng-show="eventParticipant.status=='checkedIn'">
        Undo
      </md-button>
    </md-list-item>
  </md-list>
</div> -->
