<div class="popover" tabindex="-1" style="outline:none;">
    <div class="arrow"></div>
    <h3 class="popover-title"><b>Password Reset</b></h3>
    <div class="popover-content">
        <form name="passwordResetForm">
            <p>Enter your email address, and we'll send you a password reset link by email.</p>

            <label class="sr-only" for="passwordResetEmail">Email address</label>
            <input type="email" id="passwordResetEmail" ng-model="credentials.email" class="form-control" placeholder="Email">

            <div class="form-actions" style="padding-top:20px;">
                <ul class="list-inline pull-right">
                    <li><a href="" class="dialog-button" ng-click="$hide()">Cancel</a></li>
                    <li><a href="" class="dialog-button dialog-button-default" ng-click="sendPasswordResetEmail(credentials.email, $hide)" ng-disabled="passwordResetForm.$invalid">OK</a></li>
                </ul>
                <!--<button type="button" class="btn btn-danger" ng-click="$hide()">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="sendPasswordResetEmail(credentials.email, $hide)" ng-disabled="passwordResetForm.$invalid">Ok</button>-->
            </div>
        </form>
    </div>
</div>
